 #app {
     height: 25vh;
     font-weight: 900;
     /* font-family: monospace; */
     font-family: "Playwrite AU SA", serif;
     text-align: left;
     color: #94E214;
     /* color: #33f933; */
     font-size: 70px;
     text-shadow: 1px 1px 9px rgb(51, 249, 51);
 }

 .roundedImg {
     width: 400px;
     height: 400px;
     overflow: hidden;
     background-image: url('../public/secondimg.JPG');
     background-color: rgba(0, 0, 0, 0.308) !important;
     background-blend-mode: multiply !important;
     background-size: cover !important;
     background-position: center !important;
     background-blend-mode: hue;
     transition: all 0.5s;
     position: relative;
     filter: saturate(0);
     /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; */
     border-radius: 63% 37% 63% 37% / 16% 16% 84% 84%;
     box-shadow: rgba(122, 250, 105, 0.1) 0px 8px 24px, rgba(149, 255, 145, 0.1) 0px 16px 56px, rgba(142, 255, 142, 0.1) 0px 24px 80px;

     img {
         display: none;
     }

     &:hover {
         filter: saturate(1);
     }
 }

 /* .roundedImg::before {
     content: '';

     width: 0%;
     height: 0%;
     opacity: 0;
     transform: scale(1);
     position: absolute;
     top: 50%;
     left: 50%;
     background-color: rgba(0, 0, 0, 0.308);
     background-blend-mode: multiply;
     background-image: url('../public/akimg.JPG') !important;
     border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
     overflow: hidden;
     background-size: cover;
     background-position: center;
     background-blend-mode: hue;
     transition: all 0.5s ease-in-out;
 }

 .roundedImg:hover::before {
     height: 100%;
     width: 100%;
     top: 0%;
     left: 0%;
     opacity: 1;
     transform: translate(0%, 0%);
     transform: scale(1.2);
 } */

 .similarFont {
     font-size: 30px;
     transition: all 0.5s;
     border-radius: 30%;
     padding: 10px;
     box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px, rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
     margin: 10px;
     cursor: pointer;

     &:hover {
         transform: scale(1.2);
     }
 }

 .fa-instagram {
     background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .fa-linkedin {
     background: linear-gradient(45deg, #0077B5, #0077B5, #0077B5, #0077B5, #0077B5, #0077B5);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .fa-github {
     background: linear-gradient(45deg, #333333, #333333, #333333, #333333, #333333, #333333);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .fa-whatsapp {
     background: linear-gradient(45deg, #25D366, #25D366, #25D366, #25D366, #25D366, #25D366);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }


 /* Section two */
 .myServices {
     font-family: 'Courier New';
     color: #94E214;
     border-radius: 30px;
     /* color: #33f933; */
     background: linear-gradient(45deg, #333333, #333333, #333333, #333333, #333333, #333333);


     p {
         background: linear-gradient(45deg, #b6b6b6, #cfcfcf, #94E214, #c5c4c4, #e2e1e1, #f3e8e8);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         font-family: "Open Sans", serif;
         font-weight: 500;
     }
 }

 .vr {
     width: 2px !important;
     height: 6vh !important;
 }

 /* Carousel */
 .customButtons {
     position: absolute;
     top: 5%;
     width: 50%;
     right: 0%;
     display: flex;
     justify-content: center;
     background-color: #94E214;

     .carousel-control-prev {
         position: absolute;
         left: 60% !important;

     }

 }

 /* Carousel animation */

 .flower {
     position: relative;
 }

 .circle {
     border: 3px solid #94E214;
     border-radius: 50%;
     transform-origin: top;
     position: absolute;
     top: 30px;
     transform: rotateX(-70deg);
     animation: moveme 2.5s infinite cubic-bezier(0.25, 0.1, 0.25, 1);
 }

 .circle:nth-child(1) {
     width: 400px;
     height: 400px;
     left: calc(50% - 200px);
     animation-delay: 0.1s;
 }

 .circle:nth-child(2) {
     width: 365px;
     height: 365px;
     left: calc(50% - 182.5px);
     animation-delay: 0.2s;
 }

 .circle:nth-child(3) {
     width: 330px;
     height: 330px;
     left: calc(50% - 165px);
     animation-delay: 0.3s;
 }

 .circle:nth-child(4) {
     width: 295px;
     height: 295px;
     left: calc(50% - 147.5px);
     animation-delay: 0.4s;
 }

 .circle:nth-child(5) {
     width: 260px;
     height: 260px;
     left: calc(50% - 130px);
     animation-delay: 0.5s;
 }

 .circle:nth-child(6) {
     width: 225px;
     height: 225px;
     left: calc(50% - 112.5px);
     animation-delay: 0.6s;
 }

 .circle:nth-child(7) {
     width: 190px;
     height: 190px;
     left: calc(50% - 95px);
     animation-delay: 0.7s;
 }

 .circle:nth-child(8) {
     width: 155px;
     height: 155px;
     left: calc(50% - 77.5px);
     animation-delay: 0.8s;
 }

 .circle:nth-child(9) {
     width: 120px;
     height: 120px;
     left: calc(50% - 60px);
     animation-delay: 0.9s;
 }

 .circle:nth-child(10) {
     width: 85px;
     height: 85px;
     left: calc(50% - 42.5px);
     animation-delay: 1s;
 }

 .circle:nth-child(11) {
     width: 50px;
     height: 50px;
     left: calc(50% - 25px);
     animation-delay: 1.1s;
 }

 @keyframes moveme {
     0% {
         top: 30px;
     }

     50% {
         top: 160px;
     }

     100% {
         top: 30px;
     }
 }


 /* Contact */


 /* MediaQuery */
 @media (max-width: 576px) {
     #app {
         height: 25vh !important;
         font-size: 40px !important;
     }

     .roundedImg {
         width: 200px;
         height: 200px;
     }

     .blockquote-footer em {
         font-size: 20px !important;
     }

     .lh-base {
         font-size: 17px !important;
     }

     .similarFont {
         font-size: 17px !important;
     }

     .carousel-item {
         width: 100% !important;
         height: 70vh !important;
         overflow: auto !important;
     }
 }